
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/windows-newsave-seed-gen/v16/.suo
.vs/windows-newsave-seed-gen/v16/Browse.VC.db
.vs/windows-newsave-seed-gen/v16/Browse.VC.db-shm
.vs/windows-newsave-seed-gen/v16/Browse.VC.db-wal
.vs/windows-newsave-seed-gen/v16/Browse.VC.opendb
.vs/windows-seed-gen-newsave/v16/.suo
.vs/windows-seed-gen-newsave/v16/Browse.VC.db
windows-seed-gen-newsave/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
*.ipch
*.db-shm
*.db-wal
*.opendb
windows-seed-gen-newsave/output.txt
*.log
*.cache
windows-seed-gen-newsave/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
windows-seed-gen-newsave/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
windows-seed-gen-newsave/x64/Release/app.res
windows-seed-gen-newsave/x64/Release/AssemblyInfo.obj
windows-seed-gen-newsave/x64/Release/CppCLR_WinFormsProject.obj
windows-seed-gen-newsave/x64/Release/Newsave.obj
windows-seed-gen-newsave/x64/Release/NewsaveWindow.obj
windows-seed-gen-newsave/x64/Release/Output.obj
windows-seed-gen-newsave/x64/Release/pch.obj
windows-seed-gen-newsave/x64/Release/UnityRandom.obj
windows-seed-gen-newsave/x64/Release/vc142.pdb
windows-seed-gen-newsave/x64/Release/windows-.368caf3c.tlog/CL.command.1.tlog
*.tlog
windows-seed-gen-newsave/x64/Release/windows-seed-gen-newsave.exe.recipe
windows-seed-gen-newsave/x64/Release/windows-seed-gen-newsave.pch
windows-seed-gen-newsave/x64/Release/windows-seed-gen-newsave.vcxproj.FileListAbsolute.txt
windows-seed-gen-newsave/x64/Release/windows_seed_gen_newsave.NewsaveWindow.resources
x64/Release/windows-seed-gen-newsave.exe
x64/Release/windows-seed-gen-newsave.exe.metagen
x64/Release/windows-seed-gen-newsave.pdb
