
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/windows-newsave-seed-gen/v16/.suo
.vs/windows-newsave-seed-gen/v16/Browse.VC.db
.vs/windows-newsave-seed-gen/v16/Browse.VC.db-shm
.vs/windows-newsave-seed-gen/v16/Browse.VC.db-wal
.vs/windows-newsave-seed-gen/v16/Browse.VC.opendb
.vs/windows-seed-gen-newsave/v16/.suo
.vs/windows-seed-gen-newsave/v16/Browse.VC.db
windows-seed-gen-newsave/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
